.commande-details {
	width: 500px;
    height: 100%px;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    text-align: center;
    margin-left: 160px;
}
.main-content_commande-details {
    width: 900px;
	margin-top: 75px;
	margin-left: 254px;
	padding: 20px;
}
/* En-tête des détails de l'ordonnance */
.commande-details h2 {
	font-size: 24px;
	margin-bottom: 10px;
	color: #2c3e50;
}

.commande-details p {
	font-size: 16px;
	color: #7f8c8d;
	margin: 5px 0;
}
.image-modal_commande {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fond sombre */
    display: flex;
    padding-left: 65px;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .image-modal-content_commande {
    position: relative;
  }
  
  .image-modal-content_commande img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
  }
  
  /* Ajout d'un style pour fermer la modale au clic sur l'arrière-plan */
  .image-modal_commande:hover {
    cursor: pointer;
  }
  .ordonnance-photo_commande img{
    width: 90%;
    height: 100%;
  }