.main-content_dashboard {
	margin-top: 70px;
	 margin-left: 240px; 
	padding: 20px;

}
.card_dashboard {
	background-color: #ffffff;
	padding: 20px;
	margin: 15px 0;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card_dashboard h3 {
	margin: 0;
	color: #34495E;
}

.card_dashboard .card-value {
	font-size: 1.8em;
	font-weight: bold;
	color: #1ABC9C;
}

/* Grid Layout */
.grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.grid-item {
	background-color: #ffffff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.grid-item h4 {
	margin: 0 0 10px;
	color: #34495E;
}

.grid-item p {
	color: #7f8c8d;
}

.clickable-item {
	text-decoration: none;

}

/* Effet de survol sur les liens */
.grid-item:hover {
	transform: translateY(-5px);
	/* Légère élévation */
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
	/* Ombre plus marquée */
}