/* Conteneur principal du formulaire */
.profil-form-container {
	width: 600px;
	margin: 30px auto;
	padding: 20px;
	background-color: white;
	border-radius: 8px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.main-content_Profil {
	margin-top: 60px;  /* Compense la hauteur du header */
	margin-left: 240px; /* Compense la largeur de la navbar */
	padding: 20px;
	
  }
/* Titre du formulaire */
.profil-form-container h2 {
	font-size: 24px;
	text-align: center;
	color: #2c3e50;
	margin-bottom: 20px;
}

/* Label et champ de saisie pour la pharmacie */
label {
	font-size: 16px;
	color: #34495e;
	margin-bottom: 8px;
	display: block;
}

input {
	width: 90%;
	padding: 10px;
	margin-bottom: 15px;
	margin-right: 15px;
	border: 1px solid #ddd;
	border-radius: 5px;
	font-size: 16px;
}

#button_Profil {
	background-color: red;
    display: block;
    margin: 0 auto;
}
#button_Profil:hover{
    background-color: rgb(206, 25, 25);
}