<<<<<<< HEAD
=======
/* Corps global */
>>>>>>> f1907c9c471c4ec830d862ede9e5ab3ea6023b30
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f4f6f8;
<<<<<<< HEAD
}

/* navbar */
.navbar {
	width: 220px;
	height: 100vh;
	background-color: #2C3E50;
	position: fixed;
=======
  }
  
  /* Navbar */
  .navbar {
	width: 220px;
	height: 100vh;
	background-color: #2C3E50;
	/* position: fixed; */
>>>>>>> f1907c9c471c4ec830d862ede9e5ab3ea6023b30
	top: 0;
	left: 0;
	padding-top: 20px;
	color: white;
<<<<<<< HEAD
}

.navbar h2 {
	text-align: center;
	color: #ecf0f1;
}

.navbar a {
	display: block;
	padding: 15px 20px;
	text-decoration: none;
	color: #ecf0f1;
	margin: 5px 0;
	transition: background-color 0.3s;
}

.navbar a:hover {
	background-color: #34495E;
}

.navbar a.active {
	background: linear-gradient(45deg, #1ABC9C, #16A085);
	font-weight: bold;
}

.header {
    position: fixed; /* Fixe le header en haut de la page */
    top: 0; /* Positionne le header au sommet */
    left: 220px; /* Décalage à gauche pour compenser le menu latéral si existant */
    width: calc(100% - 260px); /* Ajuste la largeur pour prendre en compte le menu latéral */
    height: 27px;
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    z-index: 1000; /* Place le header au-dessus des autres éléments */
}


.header h1 {
	font-size: 1.5em;
	color: #2C3E50;
}

.header .user-info {
	display: flex;
	align-items: center;
	position: relative;
	/* Conteneur pour gérer la position de la section */

}

.header .user-info img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
	transition: transform 0.2s ease-in-out;
	cursor: pointer;
}

.header .user-info img:hover {
	transform: scale(1.1);
}

#logoutSection {
	position: absolute;
	top: 50px;
	/* Ajuster pour que la section soit juste en dessous de l'image */
	left: 50%;
	/* Centrer horizontalement par rapport à l'image */
	transform: translateX(-50%);
	/* Correction pour alignement centré */
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	padding: 10px;
	/* Cacher par défaut */
	z-index: 1000;
	min-width: 170px;
}

#logoutSection::before {
	content: '';
	position: absolute;
	top: -19px;
	/* Positionne la flèche au-dessus du menu */
	left: 12%;
	transform: translateX(-50%);
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #f4f6f8 transparent;
	/* Flèche pointant vers le haut */
}

#logoutSection p {
	margin: 0;
	font-size: 14px;
}

#logoutButton {
	margin-top: 8px;
	padding: 5px 10px;
	background-color: #cc1a15;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#logoutButton:hover {
	background-color: #0056b3;
}

/* Boutons généraux */
button {
	background-color: #1abc9c;
	color: white;
	padding: 10px 15px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
}

button:hover {
	background-color: #16a085;
}
=======
	z-index: 1000;
} /* Assure que la Navbar est au-dessus du contenu */

  
	.navbar h2 {
		text-align: center;
		color: #ecf0f1;
	}
	
	.navbar a {
		display: block;
		padding: 15px 20px;
		text-decoration: none;
		color: #ecf0f1;
		margin: 5px 0;
		transition: background-color 0.3s;
	}
	
	.navbar a:hover {
		background-color: #34495E;
	}
	
	.navbar a.active {
		background: linear-gradient(45deg, #1ABC9C, #16A085);
		font-weight: bold;
	}
	
	/* Header */
	.header {
		/* position: fixed; 
		
		left: 220px; Décalage pour la Navbar */
		width: calc(98%);
		top: 0;
		height: 60px;
		padding: 20px;
		background-color: #ffffff;
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid #ddd;
		z-index: 1000; /* Place le header au-dessus des autres éléments */
	}
	
	.header h1 {
		font-size: 1.5em;
		color: #2C3E50;
	}
	
	.header .user-info {
		display: flex;
		align-items: center;
		position: relative;
	}
	
	.header .user-info img {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		margin-right: 10px;
		transition: transform 0.2s ease-in-out;
		cursor: pointer;
	}
	
	.header .user-info img:hover {
		transform: scale(1.1);
	}
	
	/* Section de déconnexion */
	#logoutSection {
		position: absolute;
		top: 60px; /* Ajuster pour être sous l'image */
		right: 0;
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
		border-radius: 8px;
		padding: 10px;
		z-index: 1000;
		min-width: 170px;
	}
	
	#logoutSection::before {
		content: '';
		position: absolute;
		top: -10px;
		right: 20px;
		border-width: 10px;
		border-style: solid;
		border-color: transparent transparent #ffffff transparent;
	}
	
	#logoutSection p {
		margin: 0;
		font-size: 14px;
	}
	
	/* Bouton de déconnexion */
	#logoutButton {
		margin-top: 8px;
		padding: 5px 10px;
		background-color: #cc1a15;
		color: white;
		border: none;
		border-radius: 4px;
		cursor: pointer;
	}
	
	#logoutButton:hover {
		background-color: #b10d0a;
	}
	
/* 	
	button {
		background-color: #1abc9c;
		color: white;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s;
	}
	
	button:hover {
		background-color: #16a085;
	}
    */
>>>>>>> f1907c9c471c4ec830d862ede9e5ab3ea6023b30
