.info h2 {
    color: #4CAF50;
    text-align: center;
    font-size:50px;
}
.info p {
    line-height: 1.6;
    color: #555;
}
 i{
 margin-right:10px;
 
}
.main-content_Support {
<<<<<<< HEAD
	margin-top: -184px;  /* Compense la hauteur du header */
	margin-left: 150px; /* Compense la largeur de la navbar */
	padding: 20px;
=======
	
	padding: 40px;
>>>>>>> f1907c9c471c4ec830d862ede9e5ab3ea6023b30
	
  }
