/* Général */
.profile-page {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  /* Contenu principal */
  .profile-content {
	margin-top: 80px; /* Si un header fixe existe */
	padding: 32px;
	margin: 0 auto;
	
  }
  
  .info-card {
	background-color: white;
	padding: 24px;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	
	/*max-width: 65%; /* Limite la largeur pour les grands écrans */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
  }
  
  .info-title {
	font-size: 1.5rem;
	font-weight: bold;
	margin-bottom: 16px;
	color: #4a4a4a;
  }
  
  /* Conteneur pour la photo */
  .photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 24px;
  }
  
  .photo-profile {
	font-size: 1.25rem;
	font-weight: bold;
	margin-bottom: 8px;
	color: #4a4a4a;
  }
  
  .photo-display {
	width: 80%;
	height: 50%;
	border-radius: 10%;
	object-fit: cover;
	border: 2px solid #3182ce;
	margin-top: 8px;
	transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .photo-display:hover {
	transform: scale(1.05);
	opacity: 0.9;
  }
  
  /* Formulaire en grille */
  form{
	display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .info-group,
  .localisation-group {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 16px;
  }
  
  .form-group {
	display: flex;
	flex-direction: column;
  }
  
  .form-group:last-child {
	grid-column: span 2; /* Étend le bouton sur deux colonnes */
  }
  
  .form-label {
	font-size: 1rem;
	color: #4a4a4a;
	margin-bottom: 8px;
  }
  
  .form-input,
  .form-select {
	width: 100%;
	padding: 10px;
	border-radius: 8px;
	border: 1px solid #d1d5db;
	font-size: 1rem;
	color: #4a4a4a;
  }
  
  .form-input:focus,
  .form-select:focus {
	border-color: #3182ce;
	outline: none;
  }
  
  .form-select {
	appearance: none;
	background-color: #fff;
  }
  
  .form-button {
	padding: 10px 20px;
	font-size: 1rem;
	font-weight: bold;
	background-color: #3182ce;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	text-align: center;
	transition: background-color 0.3s ease;
  }
  
  .form-button:hover {
	background-color: #2b6cb0;
  }
  
  /* Responsivité */
  @media (max-width: 768px) {
	.info-group,
	.localisation-group {
	  grid-template-columns: 1fr; /* Réduit à une colonne sur petit écran */
	}
  
	.form-group:last-child {
	  grid-column: span 1; /* Étend le bouton uniquement sur une colonne */
	}
  }
  