.patient-layout {
    display: grid;
    grid-template-areas: 
      "navbar header"
      "navbar main";
    grid-template-columns: 250px 1fr; /* Navbar largeur fixe, contenu ajustable */
    grid-template-rows: auto 1fr; /* Header hauteur ajustée, contenu occupe le reste */
    height: 100vh; /* Occupe toute la hauteur de la fenêtre */
  }
  
  .patient-layout > :nth-child(1) {
    grid-area: navbar;
    height: 100%;
    position: fixed; 
    width: 250px; 
  }
  
  .patient-layout > :nth-child(2) {
    grid-area: header;
    height: 60px; 
    position: fixed; 
    width: calc(100% - 290px); 
    left: 250px; 
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
  
  .patient-layout main {
    grid-area: main;
    height: calc(100vh - 60px); 
    
  }
  